#social-buttons button {
color:white;
}
#social-buttons-nav img {
	max-height:35px;
	margin-top: 5px;
}
.btn-twitter {
background-color: #00acee;
border-color : #009ad5;
}
.btn-facebook{
background-color : #4868ac;
border-color : #314776;
}
.btn-pinterest{
background-color : #b62f26;
border-color : #b62f26;
}
.jumbotron img {
	max-width: 200px;
}
.jumbotron {
	min-height: 400px;
	background-image: url(images/Swimming.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.jumbotron h1 {
	color: white;
	font-family: "Vast Shadow" cursive;
	margin-bottom: 1em;
	padding-top: 100px;
}
.jumbotron form {
	margin-bottom: 1em;
	padding-top: 140px;
}
#blog {
	max-width: 1170px;
	background-color:rgba(250,250,250,0.9);
	color:#333;
	padding-right: 20px;
}
#testimonials {
	margin-top: 20px;
	max-width: 1170px;
	background-color:rgba(250,250,250,0.9);
	color:#333;
}
.col-sm-9 {
	max-width: 1170px;
	background-color:rgba(250,250,250,0.9);
	color:#333;
}

#blog img {
	max-width: 360px;
}
#mission {
	background-color:rgba(32,35,41,0.9);
	color:#ddd;
	margin-bottom: 60px;
}

button a {
	color: white;
}
.twitter-timeline {
	max-height: 308px;
}
.body {
	padding-top:70px;
}

#navbar a {
	color: white;
} 
.navbar {
	background-color: white;
	border-color: white;
	font-color: black;
	max-height: 
}
#at-ss {
	background-color: rgba(250,250,250,0.9);
	padding-top: 15px;
}
#buzz {
	background-color: rgba(250,250,250,0.9);
	padding-top: 15px;
}
.module {
	display: cover;
	box-sizing: border-box;

}
.mission {
	display: cover;
}