#social-buttons button {
color:white;
}
.btn-twitter {
background-color: #00acee;
border-color : #009ad5;
}
.btn-facebook{
background-color : #4868ac;
border-color : #314776;
}
.btn-pinterest{
background-color : #b62f26;
border-color : #b62f26;
}

.jumbotron {
	min-height: 600px;
	background-image: url(images/fruit-and-veg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#mission {
	background-color:rgba(32,35,41,0.9);
	color:#ddd;
}

button a {
	color: white;
}

.body {
	padding-top:100px;
}

#navbar a {
	color: white;
} 

.navbar-header {
	color:white;
}

.navbar {
	background-color: white;
	border-color: white;
	font-color: black;
}


.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 1100px;
  position: relative;
  margin: 1em;
  border: 0.5px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: scroll;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.active {
  height: 130px;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}

.active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 100;
  position: relative;
}
.carouselbox button {
  border: thick;
  display: none;
}
.active button {
  display: block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}

